
<!-- -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>HTML5 Website with Bootstrap | Responsive Website Design</title>
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- Style CSS -->
	<link rel="stylesheet" href="static/style.css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
</head>
<body>

<!-- FIRST PAGE -->

	<!-- Top Bar -->
	<div class="top-bar">
		<div class="container">
			<div class="col-12 text-right">
				<p><a href=""> Experimentation for All</a></p>
			</div>
		</div>
	</div>
	<!-- End Top Bar -->

    <div>
        <!-- Add base html here. -->
        <!-- Below is for flashing messages-->
        {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}
            <!-- If messages was not empty-->
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div> 
                {% endfor %}
            {% endif%}

        {% endwith%}

        {% block content %}
        {% endblock content %}
    </div>

</body>